            <div id="about_img">
            	<img src="../images/about_img.jpg" width="600" height="200" alt="ISSHRJ about us image" />
            </div><!-- end .about_img -->

            <h2>INTERNATIONAL SOCIETY  FOR SOCIAL JUSTICE AND HUMAN RIGHTS (ISSJHR)</h2>
            <em> "Your  Right to Social justice and Good Governance is Non-negotiable"</em>
            <h4>History</h4>
<p>
The International Society for Social Justice and Human Rights  (ISSJHR), the  new name of the entity that had championed good governance and human rights from  the south south part of Nigeria,  was incorporated under the Corporate Affairs Commission in Nigeria in 2009. It had initially  operated as Action Group for Social Justice and Good Governance (AGSJGG)  before changing to the International Society  for Social Justice and Good Governance. (ISSJGG). The authorities appeared not  to have been comfortable with the previous names hence the change to the  present nomenclature, ISSJHR, with
registration Number CAC/IT/No. 33156.
</p>

<p>&nbsp;</p>

<h4>Who We Are</h4>

<p>
The international Society is made up of men  and women of diverse backgrounds committed to the furtherance of the ideals of  good governance and social justice in Nigeria and the entire world.
</p>

<p>
Our approach is a mix of advocacy and philanthropy,  for while we desire to see the dawn of social justice and good governance  throughout the world, we would like to do more than just push the case; we  want, in addition, to make personal sacrifices to ameliorate the circumstances  of those who have fallen victims to social injustice and  the gross abuse of human rights.
</p>

<p>&nbsp;</p>

<h4>Registered Trustees</h4>

<p>
Chief (Hon) Omenazu N. E. Jackson<br />
Engr Lucky Amadi<br />
Barr. Paul Nwankwoala<br />
Pastor (Comrade) Kriss Natty Rissi
</p>

<p>&nbsp;</p>

<h4>Corporate Social Responsibility (CSR)</h4>

<p>
To this end we have given a more practical  meaning to the concept of CSR. While canvassing for more attention to be paid  by governments and indeed, the world to the  plight of disadvantaged  people and  victims of social injustice, we have on our part tried to bring succor to such  people by way of personal visits of encouragement and donations in cash and in  kind.( link..see the Bakassi story and …link  outreach  to Rumuola Youths) among others.
</p>

