            <div id="about_img">
            	<img src="../images/contact_img.jpg" width="600" height="200" alt="ISSJHR about us image" />
            </div><!-- end .about_img -->

            <h2>INTERNATIONAL SOCIETY  FOR SOCIAL JUSTICE AND HUMAN RIGHTS (ISSJHR)</h2>
            <p><em> "Your  Right to Social justice and Good Governance is Non-negotiable"</em>             </p>
            <p>&nbsp;</p>
<p>
  <h4>Head Office:</h4>
  <div># 6 Trans-Woji, Elelenwo Road, Woji, Port Harcourt, Rivers State, Nigeria.</div><br />
</p>

<p>
  <h4>Liaison Office:</h4>
  <div>Block 2 Flat 3, Giadian Close, Area 8 Garki, F.C.T. Abuja.</div><br />
</p>

<p>
  <h4>Tel:</h4>
  <div>+234(0)-802-316-5694, +234(0)-803-734-6760, +234(0)-803-536-0869, +234(0)-849-008-17</div><br />
</p>

<p>
  <h4>Email:</h4>
  <div>info@societyforjustice.org, issjhr.justice@yahoo.com</div><br />

