  		<div class="content_box">
        	<div class="content_box_header">
            	<span class="content_box_header_left">
                </span><!-- end .content_box_header_left -->
            <span class="content_box_header_middle">
            	<div class="content_top_text">Preview From Our Articles</div>
            </span><!-- end .content_box_header_middle -->

            <span class="content_box_header_right">
            </span><!-- end .content_box_header_right -->
        </div><!-- end .content_box_header -->

        <div class="content_box_middle">
        	<span class="content_box_middle_left">
            </span><!-- end .content_box_middle_left -->

            <span class="content_box_middle_middle">
            	<span class="photo_div">
                	<div class="home_last_photo"><img src="images/galleries/Pix2.jpg" /></div>
               	<!-- end .last_photo -->
                </span><!-- end .photo_div -->

                <span class="photo_title_gap_border">
                </span><!-- end .photo_title_gap_border -->

                <span class="photo_title_gap">
                </span><!-- end .photo_title_gap -->

                <span class="title_description_div">
                	<div class="last_title">
ESTHER'S AMPUTATED DREAMS
					</div>

                    <div class="last_description">
Esther was barely ten when she was compelled to flee Abana, their town in Bakassi, with the rest of her family, when one of the shots fired by Camerounian gendarmes ripped through the tender bones of her right leg. She fell, bleeding, and it was divine intervention that made it possible for one family member to manage to pick her up and drag her to safety. Her younger brother, then two years, was not so lucky; he died in the bid to escape from what he was too young to understand. As family members cast their minds ...
					</div>
               </span><!-- end .title_description_div -->
            </span><!-- end .content_box_middle_middle -->

            <span class="content_box_middle_right">
            </span><!-- end .content_box_middle_right -->
         </div><!-- end .content_box_middle -->

         <div class="content_box_footer">
         	<span class="content_box_footer_left">
            </span><!-- end .content_box_footer_left -->

            <span class="content_box_footer_middle">
            </span><!-- end .content_box_footer_middle -->

            <span class="content_box_footer_right">
            </span><!-- end .content_box_footer_right -->
         </div><!-- end .content_box_footer -->
      </div><!-- end .content_box -->

            <div class="content_button">
            	<a href="articles/article1.html"><img alt="View_more_content_button" src="images/view_more_content_button.jpg" /></a>
            </div><!-- end .content_button -->

            <div class="content_button_gap">
            </div><!-- end .content_button -->

			<div class="content_box">
      		<div class="content_box_header">
            	<span class="content_box_header_left">
              	</span><!-- end .content_box_header_left -->

                <span class="content_box_header_middle">
                	<div class="content_top_text">Preview From Our Articles</div>
                </span><!-- end .content_box_header_middle -->

                <span class="content_box_header_right">
                </span><!-- end .content_box_header_right -->
            </div><!-- end .content_box_header -->

            <div class="content_box_middle">
            	<span class="content_box_middle_left">
                </span><!-- end .content_box_middle_left -->

                <span class="content_box_middle_middle">
                	<span class="photo_div">
                    	<div class="home_last_photo">
                        	<img src="images/galleries/Pix10.jpg" />
                        </div><!-- end .last_photo -->
                    </span><!-- end .photo_div -->

                    <span class="photo_title_gap_border">
                    </span><!-- end .photo_title_gap_border -->

                    <span class="photo_title_gap">
                    </span><!-- end .photo_title_gap -->

                    <span class="title_description_div">
                    	<div class="last_title">
DEAD ON ARRIVAL: The Story of the Archibong Family
						</div> <div class="last_description">
She's a 23 years old mother of four, heavily pregnant with what will be the fifth. But Mrs. Glory Edem Archibong is not relishing the joy of pregnancy right now, for her problems seem to protrude in all directions beyond her tummy. Glory is one of hundreds of thousand that returned to the Nigeria mainland, following the ceding of the Bakassi Peninsula to Cameroon purportedly under the terms of the Green Tree agreement in 2006 following the International Court ...
						</div>
                    </span><!-- end .title_description_div -->
              </span><!-- end .content_box_middle_middle -->

                 <span class="content_box_middle_right">
                 </span><!-- end .content_box_middle_right -->
        </div><!-- end .content_box_middle -->

              <div class="content_box_footer">
              	  <span class="content_box_footer_left">
                  </span><!-- end .content_box_footer_left -->

                  <span class="content_box_footer_middle">
                  </span><!-- end .content_box_footer_middle -->

                  <span class="content_box_footer_right">
                  </span><!-- end .content_box_footer_right -->
              </div><!-- end .content_box_footer -->
     </div><!-- end .content_box -->

            <div class="content_button">
            	<a href="articles/article6.html"><img alt="View_more_content_button" src="images/view_more_content_button.jpg" /></a>
            </div><!-- end .content_button -->

            <div class="content_button_gap">
            </div><!-- end .content_button -->

            <div id="content_box_1">

             	<div id="content_box_1_top">
                	<span id="content_box_1_top_left">
                    </span><!-- end #content_box_1_top_left -->

                	<span id="content_box_1_top_middle">
                    </span><!-- end #content_box_1_top_middle -->

                	<span id="content_box_1_top_right">
                    </span><!-- end #content_box_1_top_right -->
                </div><!-- end #content_box_1_top -->

             	<div id="content_box_1_middle">
                	<span id="content_box_1_middle_left">
                    </span><!-- end #content_box_1_middle_left -->

                	<span id="content_box_1_middle_middle">
                    	<div class="content_box_1_about_us">About Us
                        </div><!-- end .content_box_1_about_us -->

                        	<div id="about_text">
The International Society for Social justice and Human Rights  (ISSJHR), the new name of the entity that had championed good governance and human rights from the south south part of Nigeria, was incorporated under the Corporate Affairs Commission in Nigeria in 2009. It had initially operated as...
							</div><!-- end .about_text -->

                         <div id="read_more_about"><a href="about.html">Read more</a></div>
                    </span><!-- end #content_box_1_middle_middle -->

                	<span id="content_box_1_middle_right">
                    </span><!-- end #content_box_1_middle_right -->
                </div>
             	<!-- end #sidebar_middle -->

             	<div id="content_box_1_bottom">
                	<span id="content_box_1_bottom_left">
                    </span><!-- end #content_box_1_bottom_left -->

                	<span id="content_box_1_bottom_middle">
                    </span><!-- end #content_box_1_bottom_middle -->

                	<span id="content_box_1_bottom_right">
                    </span><!-- end #content_box_1_bottom_right -->
                </div><!-- end #content_box_1_bottom -->

            </div><!-- end #content_box_1 -->

