            <div id="about_img">
            	<img src="../images/staff_img.jpg" width="600" height="200" alt="ISSJHR about us image" />
            </div><!-- end .about_img -->

<h2>INTERNATIONAL SOCIETY FOR SOCIAL JUSTICE AND HUMAN RIGHTS (ISSJHR)</h2>

<p><em>"Your Right to Social justice and Good Governance is Non-negotiable"</em> </p>

<h4>Key Contact Persons</h4> <br />

<div class="event_header">Founder and Chancellor</div>

<div>Chief Hon. Omenazu Jackson, <i>(Member IHRHL, FL,ERDEI)</i></div><br />

<div class="event_header">Programs Manager</div>

<div>Anaele Ihuoma</div><br />

<div class="event_header">Director, Legal services</div>

<div>Paul Nwankwoala, <i>(BL)</i></div><br /> <div class="event_header">Welfare/logistics Specialist</div>

<div>Blessing Azonwu</div><br />

<div class="event_header">Secretary/ICT</div> <div>Rose Okoro</div>

