<div id="gallery_picture">
  <%= image_tag @gallery.photo.url(:preview) %>
</div><!-- end #gallery_picture -->

<div id="gallery_picture_details">
  <h4 id="gallery_picture_details_text"><%=h @gallery.title %></h4>
</div><!-- end #gallery_picture_details -->

<% if admin? %>
  <span class="return_link"><%= link_to 'Edit', edit_gallery_path(@gallery) %></span>
  <span> | </span>
<% end %>

<span class="return_link"><%= link_to 'Back', galleries_path %></span>

